PORT=3005
NODE_ENV=development
MONGO_URI=mongodb://shopkart:shopkart123@mongodb:27017/shopkart_payment?authSource=admin
JWT_SECRET=shopkart_super_secret_jwt_change_in_prod
JWT_ACCESS_EXPIRES=7d
JWT_REFRESH_EXPIRES=30d
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=shopkart-payment-service
RABBITMQ_URL=amqp://shopkart:shopkart123@rabbitmq:5672/shopkart
REDIS_URL=redis://:shopkart123@redis:6379
CLIENT_URL=http://localhost:3000
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=ShopKart <noreply@shopkart.com>
AUTH_SERVICE_URL=http://auth-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
CART_SERVICE_URL=http://cart-service:3003
ORDER_SERVICE_URL=http://order-service:3004
